[user]
	name = AlexNav73
	email = alexandr.navitskiy@gmail.com
[core]
	editor = gvim
	autocrlf = true
[alias]
	s   = status
	st  = stash
	sp  = stash pop
	co  = checkout
	c   = commit
	amd = commit --amend --no-edit
